* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #80b4bf;
  top: 0;
}
.navbar ul {
  display: flex;
  list-style: none;
  margin: 20px;
}
.navbar ul li {
  font-family: Helvetica;
  font-size: 1.1rem;
  font-weight: bold;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 10px 25px;
  transition: all 0.5s ease;
}
.navbar ul li a:hover {
  background-color: #df7a3f;
  color: white;
  box-shadow: 0 0 10px #df7a3f;
}

/* Home Section */
#home {
  display: flex;
  flex-direction: column;
  background-color: #f2f0eb;
  height: 900px;
  justify-content: left;
  align-items: left;
  color: black;
}
#home::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  /* background: url("/") no-repeat center center/cover; */
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: left;
  position: absolute;
  top: 13%;
}
.headings {
  font-family: Helvetica;
  font-size: 2rem;
  text-align: center;
  margin-left: 47px;
  color: #a1a67b;
}
.response {
  font-family: Helvetica;
  font-size: 1rem;
  text-align: left;
  margin-left: 47px;
  margin-right: 40%;
  color: black;
}
