* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header
header {
  padding: 25px 50px 25px 50px;
  font-family: Helvetica;
  font-size: 2rem;
  text-align: center;
  color: white;
  background-color: #a1a67b;
} */

/* Navbar */
.navbar {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #80b4bf;
  top: 0;
}
.navbar ul {
  display: flex;
  list-style: none;
  margin: 20px;
}
.navbar ul li {
  font-family: Helvetica;
  font-size: 1.1rem;
  font-weight: bold;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 10px 25px;
  transition: all 0.5s ease;
}
.navbar ul li a:hover {
  background-color: #df7a3f;
  color: white;
  box-shadow: 0 0 10px #df7a3f;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: #f2f0eb;
  width: 100%;
  height: 100%;
  justify-content: left;
  align-items: left;
  position: absolute;
}

.headings {
  font-family: Helvetica;
  font-size: 2rem;
  text-align: left;
  padding: 25px 50px 25px 50px;
  color: #a1a67b;
}

.reading {
  display: flex;
  flex-direction: column;
  background-color: #f2f0eb;
  justify-content: left;
  align-items: left;
  position: absolute;
}

.responsetitle {
  padding-top: 3%;
  font-family: Helvetica;
  font-size: 1.5rem;
  text-align: left;
  margin-left: 5%;
  margin-right: 40%;
  color: black;
}

.response {
  font-family: Helvetica;
  font-size: 1rem;
  text-align: left;
  margin-left: 5%;
  margin-right: 40%;
  margin-bottom: 2%;
  color: black;
}

.response a {
  text-decoration: none;
  font-family: Helvetica;
  color: black;
}

.about {
  display: flexbox;
  justify-content: left;
  background-color: #f2f0eb;
  height: 840px;
}

.about h1 {
  padding: 25px 50px 25px 50px;
  font-family: Helvetica;
  color: black;
}

.about ul li {
  display: flex;
  list-style: none;
  padding: 25px 50px 25px 50px;
  font-family: Helvetica;
  font-size: 1.5rem;
}
.about ul a {
  text-decoration: none;
  color: black;
  padding: 10px 25px;
  background-color: white;
  transition: all 0.5s ease;
}

.about ul li a:hover {
  background-color: #df7a3f;
  color: white;
  box-shadow: 0 0 10px #df7a3f;
}
